{% extends'base.html' %}

{% block page_content %}
    <div class="logo-holder logo-top-margin">
        <a href="{{ url_for('bpShow.home') }}" class="site-brand"><img src="{{ url_for('static', filename='images/logo.jpg') }}"></a>
    </div>
    <div class="container">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
            {% for category, message in messages %}
                <span class="text-danger"><b>{{ category }}:</b>{{ message }}</span>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form class="subscribe-form" action="{{ url_for('bpUser.changePassword') }}" method="post" userId=current_user.id>
            {{ form.csrf_token }}
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label>Old Password:</label>
                <input type="password" class="email" name="oldPassword" placeholder="Old Password">
                <label>New Password:</label>
                <input type="password" class="email" name="newPassword" placeholder="New Password">
                <input type="submit" class="button default" value="Subimt">
            </div>
        </form>
        </div>
    </div>
{% endblock %}