{% extends 'show/show_base.html' %}

{% block content_body %}
    <div id="menu-4" class="contact-section">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="box-content">
                    <ul>
                        <li>
                            <img src="{{ url_for('static', filename='images/me.jpg') }}">
                        </li>
                        <li>
                            <p><b>姓名:</b>鲁成</p>
                        </li>
                        <li>
                            <p><b>出生年月:</b>1996-01-27</p>
                        </li>
                        <li>
                            <p><b>学历:</b>西南林业大学2014级在校生</p>
                        </li>
                        <li>
                            <p><b>电话:</b>184-8730-0572</p>
                        </li>
                        <li>
                            <p><b>邮箱:</b>lc960127@gmail.com</p>
                        </li>
                        <li>
                            <p><b>微信:</b>LC_WeChat_0127</p>
                        </li>
                        <li>
                            <p><b>QQ:</b>1006115980</p>
                        </li>
                        <li>
                            <p><b>Bitbucket:</b><a href="https://bitbucket.org/lucheng0127">bitbucket.org/lucheng0127</a></p>
                        </li>
                        <li>
                            <p><b>GitHub:</b><a href="https://github.org/lucheng001">github.org/lucheng001</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-sm-8">
                <div class="box-content">
                    <h3 class="widget-title">Send Us A Message</h3>
                    <form class="contact-form">
                        <fieldset>
                            <input type="text" class="name" id="name" placeholder="Name...">
                        </fieldset>
                        <fieldset>
                            <input type="email" class="email" id="email" placeholder="Email...">
                        </fieldset>
                        <fieldset>
                            <input type="text" class="subject" id="subject" placeholder="Subject...">
                        </fieldset>
                        <fieldset>
                            <textarea name="message" id="message" cols="30" rows="4" placeholder="Message.."></textarea>
                        </fieldset>
                        <fieldset>
                            <input type="submit" class="button" id="button" value="Send Message">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}