{% extends 'show/show_base.html' %}

{% block content_body %}
    <div class="gallery-section">
        <div class="box-content">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3 class="widget-title">Photos</h3>
                    <div class="project-item">
                        <img src="{{ url_for('static', filename='images/rockclimbing.jpg') }}" alt="">
                        <div class="project-hover">
                            <h4>抱石训练</h4>
                        </div>
                    </div>
                    <div class="project-item">
                        <img src="{{ url_for('static', filename='images/mountainclimb.jpg') }}" alt="">
                        <div class="project-hover">
                            <h4>2016雪花勇闯天涯</h4>
                        </div>
                    </div>
                    <div class="project-item">
                        <img src="{{ url_for('static', filename='images/kickboxingtraining.jpg') }}" alt="">
                        <div class="project-hover">
                            <h4>曾经的对练</h4>
                        </div>
                    </div>
                    <div class="text-center">
                        <ul>
                            <li><a href="#" class="fa fa-refresh"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <h3 class="widget-title">It's my life ! <a href="{{ url_for('bpDiary.addDiary') }}" class="fa fa-pencil"></a></h3>
                    {% for diary in diarys %}
                         <div class="project-item">
                            <div class="col-md-8">
                                <label>
                                    {{ diary.body }}
                                </label>
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    {% if diary.havePhoto %}
                                        <img src="{{ url_for('static', filename=diary.photoURL ) }}" alt="">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p>{{ diary.createTime }}</p>
                                <a href="{{ url_for('bpDiary.delectDiary', diaryId=diary.id) }}" class="fa fa-trash"></a>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                    <div class="project-pages">
                        <ul>
                            <li><a href="#" class="fa fa-arrow-left"></a> </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#" class="fa fa-arrow-right"></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}