{% extends 'show/show_base.html' %}

{% block content_body %}
    <div id="menu-1" class="homepage home-section text-center">
        <div class="welcome-text">
            <h2>Hello, Welcome to <strong>RECTANGLE</strong></h2>
            <p>Rectangle is free mobile template brought to you by <span class="orange">template</span><span class="green">mo</span>.com website. You can download, edit and use this layout for any purpose. Please tell your friends about our website. Thank you.</p>
            <form action="#" method="get" class="subscribe-form">
                <div class="row">
                    <fieldset class="col-md-offset-2 col-md-6">
                        <input name="subscribe-email" type="email" class="email" id="subscribe-email" placeholder="Write your email here..">
                    </fieldset>
                    <fieldset class="col-md-4 button-holder">
                        <input name="submit" type="submit" class="button default" id="submit" value="Submit">
                    </fieldset>
                </div>
                <p class="subscribe-text">Please subscribe your email for latest updates!</p>
            </form>
        </div>
    </div>
{% endblock %}