{% extends 'show/show_base.html' %}

{% block content_body %}
    <div class="logo-holder logo-top-margin">
        <a href="{{ url_for('bpShow.info') }}" class="site-brand"><img src="{{ url_for('static', filename='images/logo.jpg') }}"></a>
    </div>
    <div id="menu-1" class="homepage home-section text-center">
        <div class="welcome-text">
            <h2>Welcome to <strong>wolf space</strong></h2>
            <p>(Like Python || ArchLinux || kickboxing || rocking climbing || swimming || outdoors)?</p>
            <p>Get in touch with me : Just look through or leave</p>
            <br>
            <br>
            <p><b>Know more about me:</b></p>
            <br>
            <a href="{{ url_for('bpShow.info') }}" class="btn btn-primary">Next-></a>
        </div>
    </div>
{% endblock %}