{% extends 'show/show_base.html' %}

{% block content_body %}
    <div class="about-section">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="profile">
                    <div class="col-md-4">
                        <a href="{{ url_for('bpUser.resetProfile') }}"><img src="{{ url_for('static', filename='images/me.jpg') }}" alt=""></a>
                        <br>
                        <br>
                        <p class="text-center">{{ user.aboutMe }}</p>
                    </div>
                    <div class="col-md-7">
                        <h5 class="profile-name">{{ user.chinesename }}</h5>
                        <br>
                        <span class="blue">Search for Python or Web back-end development job.</span>
                        <br>
                        <br>
                        <p>I'm one of the SWFU, major in The Communication Engineering, with time goes by I found maybe I should be a programmer rather than do what like what we been taught like that after graduation try to be a postgraduate,
                        and then try to be a member of government, this not my life. You Only Live Once! why not make your life be colorful?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <img src="{{ url_for('static', filename='images/arch-python_logo.png') }}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="box-content">
                    <h3 class="widget-title">My Technical Skills</h3>
                    <div class="project-item">
                        <p>
                            Python:<br>
                            Can independently finish a small Web project using Flask.And knew some frequently used development plugin.<br>
                            Linux:<br>
                            Up to now(2016-11-15) I have been used Linux as my PC system for 2 years, in the past I had tried Ubuntu, Debian, OpenSuse, FreeBSD and now ArchLinux, in it ArchLinux is a prefect OS for PC, and FreeBSD is a excellent OS for service.<br>
                            Other:<br>
                            In the past career of my college I will try to use Docker to deploy some service and also as time allowed maybe I will try to perfect my front-end skills or learn Node.js or Golang.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="box-content">
                    <h3 class="widget-title">My Project Experience   |    <a href="{{ url_for('bpProject.addProject') }}" class="fa fa-plus"></a></h3>
                    <p>What I mean a true experience of project.</p>
                    <label>Bitbucket:</label>
                    <a href="https://bitbucket.org/lucheng0127">https://bitbucket.org/lucheng0127</a>
                    {% if projects %}
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>项目名称</th>
                                    <th>项目负责人</th>
                                    <th>项目总结</th>
                                </tr>
                            </thead>
                        <tbody>
                            {% for project in projects %}
                                <tr>
                                    <th>{{ project.name }}</th>
                                    <th>{{ project.author.chinesename }}</th>
                                    <th>
                                        {% if current_user.is_authenticated  %}
                                        <a href="{{ url_for('bpProject.upload', projectId=project.id) }}" class="fa fa-upload"></a>
                                        {% endif %}
                                        <a href="{{ url_for('bpProject.download', projectId=project.id) }}" class="fa fa-download"></a>
                                    </th>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}