<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>My resume</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <a href="{{ url_for('bpShow.info') }}"><img class="profile" src="{{ url_for('static', filename='images/meSmall.jpg') }}" alt="" /></a>
                <h1 class="name">鲁成</h1>
                <h5>1996-01-27</h5>
            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><p>lc@960127@gmail.com</p></li>
                    <li class="phone"><i class="fa fa-phone"></i><p>184-8730-0572</p></li>
                    <li><i class="fa fa-bitbucket"></i><a href="https://bitbucket.org/lucheng0127">bitbucket.org/lucheng0127</a></li>
                    <li><i class="fa fa-wechat"></i><a href="#" target="_blank">LC_WeChat_0127</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="https://github.com/lucheng001/" target="_blank">github.com/lucheng001</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">专业:通信工程</h4>
                    <h5 class="meta">西南林业大学</h5>
                    <div class="time">2014入学</div>
                </div><!--//item-->
            </div><!--//education-container-->

            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>Chinese <span class="lang-desc">(Native)</span></li>
                    <li>English <span class="lang-desc">(Not bad)</span></li>
                </ul>
            </div><!--//interests-->

            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>KickBoxing</li>
                    <li>Swimming</li>
                    <li>Rock Climbing</li>
                </ul>
            </div><!--//interests-->

        </div><!--//sidebar-wrapper-->

        <div class="main-wrapper">

            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>求职意向</h2>
                <div class="summary">
                    <p>
                        <p><b>目标职能：</b>Web后端开发工程师</p>
                        <p><b>工作性质：</b>实习</p>
                        <p><b>希望行业：</b>互联网科技公司</p>
                        <p><b>期望月薪：</b>面议</p>
                    </p>
                </div><!--//summary-->
            </section><!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>相关经验</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">使用Python & Flask进行Web开发</h3>
                            <div class="time">2016-05 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">SWFU</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            在学习Python & Flask中我一直以实践为主，看书为辅的学习思路。期间首先为了熟悉Flask框架的基本结构和常用拓展
                            自己写了一套microblog来边学变练，由于期初目的只是为了熟悉框架所以并未使用Bootstrap所以界面不太友好。
                        </p>
                        <p>
                            之后与老师共同为学院写了一套信息管理系统，我负责毕业论文部分，期间通过模仿及自学成功的完成了此系统，并已成功
                            投入使用，在此过程中确立了自己的代码风格，并积累了很多关于数据验证的和权限验证的经验。
                        </p>
                        <p>
                            以及现在自己独立完成的半博客半简历管理系统，本着更好的体现自己的生活及IT技能的原因为自己编写的一套系统，其中功
                            能完善，再一次巩固了自己对Python & Flask的使用，现已能熟练使用Python & Flask独立完成Web管理系统的编写与测试。
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">关于Linux</h3>
                            <div class="time">2014 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">SWFU</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            2014年大学入校开始接触使用Linux系统，期间先后接触过Debian系，OpenSUSE，FreeBSD和ArchLinux，其中Debian系源版本冲突频发，
                            OpenSUSE特点不够鲜明，FreeBSD完美的服务端系统（软件不丰富，PC不太合适），ArchLinux完美的PC端OS，活跃的社区已经完善的ArchWiki
                            至今使用。
                            期间自己配置过许多开发环境和部分服务。能较熟悉配置系统及服务。
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->

            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>项目经历</h2>
                <div class="intro">
                    <p>此项目经历指的是经过测试并可对外开放使用的项目，并非课堂上随便做做的那种。</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">narwhal</a></span> -
                    <span class="project-tagline">计算机学院内部信息管理系统，为了方便学院信息发布，课程安排以及教学文件上传管理等
                    制作的一套管理系统。在此项目中我主要负责毕业论文的功能，完成了论文的增删，材料的上传下载，以及筛选。并最后整合后已
                    成功部署于学院的服务器上使用。</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Web Resume System</a></span> -
                    <span class="project-tagline">为自己写的一套半博客半简历系统，以此更好的展示自己的技能及生活。此系统功能完善，可通过事先脚步添
                    加的用户对其内容进行修改，以及材料的上传下载及删除。此系统由我独立完成全部代码都托管于Bitbucket上。</span>
                </div><!--//item-->
            </section><!--//section-->

            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>技能结构</h2>
                <div class="skillset">
                    <div class="item">
                        <h3 class="level-title">Python &amp; Flask</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" style="width: 85%;">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" style="width: 60%;">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Bootstrap</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" style="width: 50%;">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Linux &amp; Unix</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" style="width: 70%;">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">PostgreSQL</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" style="width: 50%;">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                </div>
            </section><!--//skills-section-->

        </div><!--//main-body-->
    </div>

    <footer class="footer">
        <div class="text-center">
                <small class="copyright">Copyright &copy; 2016 lucheng  |  mail: lc960127@gmail.com  |   WeChat:  LC_WeChat_0127   |  Bitbucket: <a href="https://bitbucket.org/lucheng0127">https://bitbucket.org/lucheng0127</a></small>
        </div><!--//container-->
    </footer><!--//footer-->

    <!-- Javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- custom js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>

