{% extends 'base.html' %}

{% block page_content %}
    <div class="logo-holder logo-top-margin">
        <a href="{{ url_for('bpShow.gallery') }}" class="site-brand"><img src="{{ url_for('static', filename='images/logo.jpg') }}"></a>
    </div>
    <div class="container">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories = True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <span class="text-danger"><b>{{ category }}:</b>{{ message }}</span>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="col-md-12 text-center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h1>write something today:</h1>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div>
                    <form method="post" action="{{ url_for('bpDiary.addDiary') }}">
                        {{ form.csrf_token }}
                        <textarea name="diaryData" rows="5" class="form-control" required></textarea>
                        <button class="btn btn-primary" type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}